node_modules

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
frontend/node_modules
# testing
/coverage

# production
frontend/build
frontend/dist

# misc
frontend/package-lock.json
